<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<nav class="navbar-compact">
  <span class="material-symbols-outlined" (click)="goBack()">arrow_back</span>
</nav>
<h2 class="page-header">Mis pedidos</h2>

<div class="section">
  <h3 class="section-title">Pedidos activos</h3>
  <div *ngIf="currentOrders.length === 0" class="no-orders">
    <img class="img-no-orders" src="../assets/delivery boy on scooter.png">
    <h3>No tienes pedidos activos</h3>
  </div>
  <div *ngIf="currentOrders.length > 0" class="active-orders">
    <div class="order-wrapper" *ngFor="let order of currentOrders">
      <app-shop-card
        [title]="order.lineItems[0].product.shop.name"
        [subtitle]="'Origen: ' + order.lineItems[0].product.shop.street + ' ' + order.lineItems[0].product.shop.streetNumber "
        [bottomText]="'Destino: ' + order.client.street + ' ' + order.client.streetNumber" 
        [hasStar]=false
        [hasDropdown]=true 
        [hasDescription]=false
        imagePath={{order.lineItems[0].product.shop.logoPath}}
        description={{getDescription(order)}} 
        [client]="order.client.name + ' ' + order.client.surname"
        [paymentType]=order.paymentType.description 
        price={{order.totalAmount}}
        [orderStatus]="order.status"
        orderId={{order.id}}
        dateTimeArrival={{order.dateTimeArrival}}
        [statusDisplayText]="getStatusText(order.status)"
        [hideDropdownButton]=true>
      </app-shop-card>
      <div class="cancel-wrapper" *ngIf="order.status === 'PENDING_CONFIRMATION'">
        <button class="btn-cancel-order" (click)="cancelOrder(order.id)">Cancelar pedido</button>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <h3 class="section-title">Historial de pedidos</h3>
  <div *ngIf="historyOrders.length === 0" class="no-orders">
    <img class="img-no-orders" src="../assets/delivery boy on scooter.png">
    <h3>No hay pedidos en el historial</h3>
  </div>
  <div *ngIf="historyOrders.length > 0" class="active-orders">
    <div class="order-wrapper" *ngFor="let order of historyOrders">
      <app-shop-card
        [title]="order.lineItems[0].product.shop.name"
        [subtitle]="'Origen: ' + order.lineItems[0].product.shop.street + ' ' + order.lineItems[0].product.shop.streetNumber "
        [bottomText]="'Destino: ' + order.client.street + ' ' + order.client.streetNumber" 
        [hasStar]=false
        [hasDropdown]=true 
        [hasDescription]=false
        imagePath={{order.lineItems[0].product.shop.logoPath}}
        description={{getDescription(order)}} 
        [client]="order.client.name + ' ' + order.client.surname"
        [paymentType]=order.paymentType.description 
        price={{order.totalAmount}}
        [orderStatus]="order.status"
        orderId={{order.id}}
        dateTimeArrival={{order.dateTimeArrival}}
        [statusDisplayText]="getStatusText(order.status)"
        [hideDropdownButton]=true>
      </app-shop-card>
    </div>
  </div>
</div>