<div class="container">
  <div class="subcontainer">
    <h1 *ngIf="this.userToUpdate; else elseBlock">Cambiar Dirección</h1>
    <ng-template #elseBlock><h1>Agregar una Dirección</h1></ng-template>
    <h4>
      Esta es la dirección donde enviaremos tus pedidos. Luego puedes
      modificarla o añadir otras.
    </h4>
    <form [formGroup]="direccionForm" class="input-group">
      <div class="input-subgroup">
        <h6>Dirección</h6>
        <app-address-autocomplete formControlName="address"></app-address-autocomplete>
        <div
          [ngClass]="{
            'error-message-show': getAddress().invalid && submitted === true
          }"
          class="error-message"
        >
          <span class="error-icon-red">&#9888;</span>
          Seleccioná una dirección de la lista
        </div>
      </div>
      <div class="input-subgroup-altura">
        <div class="subgroup-piso" style="width: 100%">
          <h6>Piso o Departamento</h6>
          <input
            formControlName="apartment"
            type="text"
            placeholder="(opcional)"
          />
        </div>
      </div>
      <div class="input-subgroup">
        <h6>Información adicional que nos resulte útil para el envío</h6>
        <input
          formControlName="additionalInfo"
          type="text"
          placeholder="(opcional)"
        />
      </div>
      <div class="margin-button">
        <button (click)="submitForm()">CONFIRMAR</button>
      </div>
    </form>
  </div>
</div>
